image: maven:3.6.3-jdk-13

cache:
  paths:
    - ~/.m2/repository

stages:
  - build

build_branch_feature:
  stage: build
  script:
    - cd /hibernate-ogm
    - mvn ${MAVEN_CLI_OPTS} clean install -Dskip.integration.tests=false -Dskip.unit.tests=false
