image: maven:3.6.3-jdk-13

before_script:
  - cd /hibernate-ogm

cache:
  paths:
    - ~/.m2/repository

stages:
  - build

build_branch_feature:
  stage: build
  script:
    - mvn clean install -Dskip.integration.tests=false -Dskip.unit.tests=false
